<!--The content below is only a placeholder and can be replaced.-->
<div style="margin: 50px">
	<h1>Test International Telephone Input Form</h1>
	<br>
	<div class="wrapper">
		<button (click)="changePreferredCountries()">Change Preferred Countries</button>
	</div>
	<div class="wrapper">
		<input type="checkbox"
			[(ngModel)]="separateDialCode">
		<label>&nbsp;Separate Dial Code?</label>
	</div>
	<form [formGroup]="phoneForm">
		<div class="wrapper">
			<ngxs-intl-tel-input [cssClass]="'custom'"
				[preferredCountries]="preferredCountries"
				[enableAutoCountrySelect]="false"
				[enablePlaceholder]="true"
				[searchCountryFlag]="true"
				[searchCountryField]="[SearchCountryField.All]"
				[selectFirstCountry]="false"
				[selectedCountryISO]="CountryISO.India"
				[maxLength]="15"
				[phoneValidation]="true"
				[separateDialCode]="separateDialCode"
				[numberFormat]="PhoneNumberFormat.National"
				name="phone"
				formControlName="phone">
			</ngxs-intl-tel-input>
		</div>
		<div class="wrapper">
			<button (click)="phoneForm.reset()">Reset</button>
		</div>
	</form>
	<br>
	<div><strong>Is input valid:</strong>
		<pre>{{ !phoneForm.controls['phone'].invalid }}</pre>
	</div>
	<div><strong>Is input touched:</strong>
		<pre>{{ phoneForm.controls['phone'].touched }}</pre>
	</div>
	<div><strong>Is form valid:</strong>
		<pre>{{ phoneForm.valid }}</pre>
	</div>
	<div><strong>Form value:</strong>
		<pre>{{ phoneForm.value | json }}</pre>
	</div>
	<div><strong>Form validation errors:</strong>
		<pre>{{ phoneForm.controls['phone'].errors | json }}</pre>
	</div>
</div>
